*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* colors */
    --divider: rgb(229, 229, 229);
    --content: #FFFFFF;
    --hover:salmon;
    /* spacing */
    --padding: 8px;
  }
html{
    font-family: 'Changa', sans-serif;
    background-color:#100f0f;
}
  .top-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index:100;
    padding: 5px;
   
  }

  .nav-menu li {
    float: left;
    position: relative;
    list-style: none;
  }
   .nav-menu {
 border-top: 1px solid var(--divider);
border-bottom: 1px solid var(--divider);
background-color: #100f0f;
padding: var(--padding);
   }
   .nav-menu a{
    font-weight:bold;
   }
.menu-icon {
    display: none; }
  a:hover{
    color:var(--hover);
  }
  a {
   text-decoration: none;
   color:#FFFFFF;
   font-size: 1em;
   font-weight:200;
   padding: 5px;
  }
  /*Sign in/Sign up*/
  
.button-container {
  position: absolute;
  top: 55px;
  left: 20px;
  cursor: pointer;
}

.sign-in-btn, .sign-up-btn {
  padding: 5px;
  font-size:0.75em;
  font-family:'Changa', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  margin-right: 10px;
}

.sign-in-btn {
  background-color:#100f0f;
  color:#FFFFFF;
  border: 2px solid #9fd1f4;
}

.sign-up-btn {
  background-color: #100f0f;
  color:#FFFFFF;
  border: 2px solid salmon;
}
.sign-up-btn:hover{
  background-color:salmon;
  color:#100f0f
}
.sign-in-btn:hover{
  background-color: #9fd1f4;
  color:#100f0f;
}
  /*SEARCH*/
  #search-bar{
    color:var(--hover);
    font-size: 1em;
    padding-left: 40px;
    padding-bottom: 5px;
  }
  #search-bar:hover{
    color:var(--content);
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#100f0f;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color:var(--hover);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the dropdown button */
  .dropbtn {
    cursor: pointer;
  }
  
  /* Clear floats after the unordered list */
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /*MENU ICON*/
  .menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px; 
  }
  
  .bar {
    background-color:var(--content);
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
  }
  main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #100f0f;
  }
  
  section {
    flex: 1; 
    padding: 60px;
  }
  .text-overlay{
  align-items: center;
  padding-left:50%;
  
  }
h2{
  color:salmon;

}

.text-overlay p{
  color:#FFFFFF;
} 
  .left {
    background-color:#100f0f;
    color: #FFFFFF
  }
  
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#100f0f;
  }
  
  .right .background-img {
    max-width: 100%;
    height: auto;
    margin-top: 0;
  }
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none; 
    }
    .menu-icon {
      display: flex;
    }
    .menu-icon:hover .bar {
      background-color: var(--hover);
    }
  }

@media(max-width:600px){
    .side, .main{
        width:100%;
    }}
main {
margin-top: 20px;
  background-color: #9E9DA2;
}

section{
  display:flex;
  justify-content: center;
}
.left,.right{

}

    /*FOOTER*/
footer {
        padding: 20px;
        color: var(--content);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #100f0f;
 }
 .left-links ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .left-links ul li {
        display: inline;
       
    }
.left-links {
font-size: 0.75em;
text-decoration: underline;
margin-right: 15px;
}
